body {
  font-family: 'Muli', sans-serif;
  padding: 0;
  margin: 0;
  font-weight: normal;
  color: black;
}

h1 {
  text-align: center;
  font-size: 1.75vw;
}
h2 {
  text-align: center;
  padding: 0;
  margin: 0;
  font-weight: normal;
  color: black;
}
h3 {
  margin: 0;
  text-align: left;
  font-weight: normal;
}
h4 {
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1.5vw;
}
a {
  text-decoration: none;
}

label {
  display: block;
}

link {
  text-decoration: none;
}

link:hover {
  border-bottom: 2px pink solid;
}

form div {
  margin: 1em;
  display: inline-block;
}
.row {
  display: flex;
}
.column {
  display: flex;
  flex-direction: column;
}
.flex-start {
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 50px;
}
.space-between {
  justify-content: space-between;
}
.nav {
  display: flex;
  padding: 10px;
  align-items: center;
}

.nav-links {
  font-size: 1vw;
  text-decoration: none;
  color: black;
  padding-left: 20px;
  align-items: center;
  text-align: left;
}

.right-nav {
  display: flex;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.single {
  display: flex;
  flex: 1;
  margin: 1.5%;
  padding: 1.5%;
  border: 1px solid #d8d8d8;
  flex-direction: column;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
}

.order-item {
  margin: 1.5%;
  padding: 1.5%;
  border: 1px solid #d8d8d8;
  flex-direction: column;
}

.product-title {
  text-align: left;
  color: black;
  margin: 10px;
  font-size: 1vw;
}

.product-image {
  max-width: 15vw;
  max-height: 15vh;
  padding: 5%;
  align-self: center;
}
.cart-image {
  align-self: center;
  max-height: 200px;
  justify-self: center;
}

.qty {
  text-align: center;
  align-self: center;
  border-radius: 10px;
  width: 75px;
  height: 6vh;
  font-size: 1vw;
  border: 1px solid black;
  color: black;
  justify-self: center;
}

.qty-cart {
  text-align: center;
  align-self: center;
  border-radius: 10px;
  width: 75px;
  height: 4vh;
  font-size: 1vw;
  border: 1px solid black;
  color: black;
  justify-self: center;
}

.add-to-cart {
  text-align: center;
  align-self: center;
  border-radius: 10px;
  background-color: black;
  width: 8vw;
  height: 6vh;
  font-size: 1vw;
  border: 1px solid white;
  color: white;
  justify-self: center;
  margin: 1%;
}

.add-to-cart:focus {
  background-image: linear-gradient(
    to right,
    #4fa2f9,
    #7a36b9,
    #c039ba,
    /* #cb5a81, */ #eb9a28
  );
  color: white;
}

.delete-btn {
  text-align: center;
  border-radius: 10px;
  background-color: black;
  width: 7vw;
  height: 4vh;
  font-size: 1vw;
  border: 1px solid white;
  color: white;
  margin: 1%;
}

.checkout-btn {
  text-align: center;
  border-radius: 10px;
  background-color: black;
  width: 20vw;
  height: 6vh;
  font-size: 2vw;
  border: 1px solid white;
  color: white;
  margin: 1%;
}

.item-row {
  display: flex;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 2%;
  padding: 1.5%;
  border: 1px solid #d8d8d8;

  align-items: center;
}
.item-cart {
  text-align: left;
  color: black;
  margin: 10px;
  font-size: 1.5vw;
}

.order {
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 2%;
  padding: 1.5%;
  border: 1px solid #d8d8d8;

  align-items: center;
}
#cart-icon {
  max-height: 2vw;
  max-width: 2vw;
  padding-left: 10px;
}

#logo {
  width: 12vw;
}

#register {
  font-size: 1.4vw;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}
#login {
  padding-right: 10px;
}
#black {
  background-color: black;
  color: white;
  height: 50px;
  padding: 0.75%;
}

#rainbow {
  justify-content: center;
  align-content: center;
  background-image: linear-gradient(
    to right,
    #4fa2f9,
    #7a36b9,
    #c039ba,
    /* #cb5a81, */ #eb9a28
  );
  height: 50px;
  padding: 15px;
  color: white;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  align-self: center;
}

#bold {
  font-weight: bold;
}

#hero {
  width: 100%;
}
#flex {
  display: flex;
}

#width {
  width: 200px;
}
